.wrapper {
  width: 100%;
  background: #ae4347;
  height: 65px;
}

.container {
  max-width: 1380px;
  width: 100%;
  display: flex;
  margin: auto;
  padding: 6px 25px;
  justify-content: space-between;
  align-items: center;
}

.inputContainer {
  width: 280px;
  input {
    width: 100%;
    height: 28px;
    border-radius: 6px;
    border: 1px;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0px 12px;
  }
  input::placeholder {
    font-size: 14px;
    letter-spacing: 2px;
    padding: 0px 12px;
  }
}
